[submodule "vendor/anvil"]
	path = vendor/anvil
	url = git://github.com/ddollar/anvil.git
[submodule "etc/compiler-session/anvil"]
	path = etc/compiler-session/anvil
	url = git://github.com/ddollar/anvil.git
