# Set HEROKU_API_URLs if running on platform, unset if running locally

# Director API access
DIRECTOR_API_URL=http://:7c0cdf94144d1466@localhost:5000

# Director secrets
# HEROKU_API_URL=https://:9a4ce0acb7fa5830d98729e6fcfa4c2db49cbab8@api.heroku.com
REDIS_URL=redis://localhost:6379
S3_URL=s3://AKI...:X2J...@mybucket
SESSION_KEY_SALT=584ea019346820869df64694b4dd2556

# Proxy config
# HEROKU_API_URL=https://api.heroku.com

# Compiler runtime config stubs
CALLBACK_URL=
SSH_PUB_KEY=