# Proxy and Compiler API shared secrets
COMPILER_API_URL=http://:7c0cdf94144d1466@localhost:5000/compiler

# Compiler and Compiler API shared secrets
REDIS_URL=redis://localhost:6379

# Compiler API secrets
S3_ACCESS_KEY_ID=AKI...
S3_SECRET_ACCESS_KEY=X2J...
S3_BUCKET=s3://mybucket
