# Director API access
DIRECTOR_API_URL=http://:7c0cdf94144d1466@localhost:5000

# Director secrets
HEROKU_API_KEY=9a4ce0acb7fa5830d98729e6fcfa4c2db49cbab8
REDIS_URL=redis://localhost:6379
S3_ACCESS_KEY_ID=AKI...
S3_SECRET_ACCESS_KEY=X2J...
S3_BUCKET=s3://mybucket
SESSION_KEY_SALT=584ea019346820869df64694b4dd2556

# Compiler runtime config stubs
CALLBACK_URL=
SSH_PUB_KEY=